<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Bookings</title>
  </head>
  <body>
    <h1>Travel Bookings</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Seat #</th>
          <th>Start Date</th>
          <th>Departure Time</th>
          <th>Return Date</th>
          <th>Return Time</th>


        </tr>
      </thead>
      <tbody>
        <% flights.forEach((flight) => { %>
          <tr>
            <td><%= flight.passengername %></td>
            <td><%= flight.phone %></td>
            <td><%= flight.email %></td>
            <td><%= flight.origin %></td>
            <td><%= flight.destination %></td>
            <td><%= flight.seat %></td>
            <td><%= flight.departure %></td>
            <td><%= flight.departureTime %></td>
            <td><%= flight.return %></td>
            <td><%= flight.returnTime %></td>
            <td>
                <a href="/delete/<%= flight._id %>" class="btn btn-danger">Cancel this flight</a>
             </td>

          </tr>
        <% }); %>
      </tbody>

    </table>

    <br><br><br><br><br> 
    <a href="/manageclientflights" class="button">Go Back to Main Menu</a>


  </body>
</html>